body{
    background-color:#eee;    
}

.box{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
}

.red{
    border-left: 3px solid red;
}

.red:hover{
    transform: scale(1.05);
}

.green{
    border-left: 3px solid green;
}

.green:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

.blue{
    border-left: 3px solid blue;
}

.blue:hover{
    background-color: rgba(0,0,255,0.1);
}